.view {
  position: relative;
}

.radiobox {
  z-index: 9999;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  background-color: #268eff;
  border-radius: 4px;
  height: 50px;
  /* width: ; */
}

.selectBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}

.selector {
  background-color: #fff;
  line-height: 1.6;
  padding: 4px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  width: 80px;
}

.sidoBox {
  position: fixed;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 600px;
}

.sidoList {
  background-color: #fff;
  border: 2px solid #268eff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.sidoItem {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toSub {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 10px;
  top: 10px;
  background-color: #fff;
  width: 50px;
  height: 50px;
}
